@page "/"
@inherits EmployeeListBase

<h3>EmployeeList</h3>
@if (Employees == null)
{
    <div class="spinner">

    </div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@employee.FirstName @employee.LastName</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="@employee.PhotoPath" />
                <div class="card-footer text-center">
                    <a href="employeedetails/@employee.EmployeeId" class="btn btn-primary m-1">View</a>

                    <a href="#" class="btn btn-primary m-1">Edit</a>

                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }

    </div>
}
